package ${package}.modules.${module}.dao;

import ${package}.modules.${module}.entity.${className}Entity;
import org.apache.ibatis.annotations.Delete;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Insert;
import org.apache.ibatis.annotations.Select;
import org.apache.ibatis.annotations.Update;
import org.apache.ibatis.annotations.Param;
import org.apache.ibatis.annotations.Options;

import java.util.List;

#set($t="String")	
#foreach ($column in $columns)
#if ($column.columnKey=="PRI")
#set($t=$column.attrType)
#end
#if ($column.columnKey==$column.columnName)
#set($t=$column.attrType)
#end
#end
/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao {
#if($isSql)
		
	@Select({
			"<script>",
			"select",
#foreach($column in $columns)
					"`$column.columnName`#if($velocityCount != $columns.size()), #end",
#end
			"from",
				"(${tableName}) F",
			"<where>",
#foreach($column in $columns)
#if ($column.attrType=="String")
				"<if test='entity.$column.attrname != null and entity.$column.attrname != \"\" '>AND `$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#else
				"<if test='entity.$column.attrname != null '>and `$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
#end
#if ($role)
				"<if test='entity.sysRoleDeptEntity != null and entity.sysRoleDeptEntity.size() != 0'>",
					"and dept_id in (",
					"<foreach collection='entity.sysRoleDeptEntity' item='item' index='index' separator=',' >",
						"#{item.deptId}",
					"</foreach>",
					")",
				"</if>",
#end
			"</where>",
			"limit #{startRow},#{endRow}  ",
			"</script>"
    })
	List<${className}Entity> selectEntityListForPage(@Param("entity")${className}Entity ${classname}Entity,@Param("startRow")Long startRow,@Param("endRow")Long endRow);
	
	@Select({
			"<script>",
			"select",
			        "count(1) ",
			"from",
				"(${tableName}) F",
			"<where>",
#foreach($column in $columns)
#if ($column.attrType=="String")
				"<if test='entity.$column.attrname != null and entity.$column.attrname != \"\" '>AND `$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#else
				"<if test='entity.$column.attrname != null '>and `$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
#end
#if ($role)
				"<if test='entity.sysRoleDeptEntity != null and entity.sysRoleDeptEntity.size() != 0'>",
					"and dept_id in (",
					"<foreach collection='entity.sysRoleDeptEntity' item='item' index='index' separator=',' >",
						"#{item.deptId}",
					"</foreach>",
					")",
				"</if>",
#end
			"</where>",
			"</script>"
    })
	Long selectEntityListForPageCount(@Param("entity")${className}Entity ${classname}Entity);
#else

		@Select({
			"<script>",
			"select",
#foreach($column in $columns)
					"`$column.columnName`#if($velocityCount != $columns.size()), #end",
#end
			"from",
				"${tableName} F",
			"<where>",
#foreach($column in $columns)
#if ($column.attrType=="String")
				"<if test='entity.$column.attrname != null and entity.$column.attrname != \"\" '>AND `$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#else
				"<if test='entity.$column.attrname != null '>and `$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
#end
#if ($role)
				"<if test='entity.sysRoleDeptEntity != null and entity.sysRoleDeptEntity.size() != 0'>",
					"and dept_id in (",
					"<foreach collection='entity.sysRoleDeptEntity' item='item' index='index' separator=',' >",
						"#{item.deptId}",
					"</foreach>",
					")",
				"</if>",
#end
			"</where>",
			"limit #{startRow},#{endRow}  ",
			"</script>"
    })
	List<${className}Entity> selectEntityListForPage(@Param("entity")${className}Entity ${classname}Entity,@Param("startRow")Long startRow,@Param("endRow")Long endRow);
	
	@Select({
			"<script>",
			"select",
			        "count(1) ",
			"from",
				"${tableName} F",
			"<where>",
#foreach($column in $columns)
#if ($column.attrType=="String")
				"<if test='entity.$column.attrname != null and entity.$column.attrname != \"\" '>AND `$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#else
				"<if test='entity.$column.attrname != null '>and `$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end#end
#if ($role)
				"<if test='entity.sysRoleDeptEntity != null and entity.sysRoleDeptEntity.size() != 0'>",
					"and dept_id in (",
					"<foreach collection='entity.sysRoleDeptEntity' item='item' index='index' separator=',' >",
						"#{item.deptId}",
					"</foreach>",
					")",
				"</if>",
#end
			"</where>",
			"</script>"
    })
	Long selectEntityListForPageCount(@Param("entity")${className}Entity ${classname}Entity);
	
	@Select({
			"<script>",
			"select",
#foreach($column in $columns)
					"`$column.columnName`#if($velocityCount != $columns.size()), #end",
#end
			"from",
				"${tableName}",
			"<where>",
#foreach($column in $columns)
#if ($column.attrType=="String")
				"<if test='$column.attrname != null and $column.attrname != \"\" '>AND `$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#else
				"<if test='$column.attrname != null '>and `$column.columnName` = #{$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
#end
#if ($role)
				"<if test='sysRoleDeptEntity != null and sysRoleDeptEntity.size() != 0'>",
					"and dept_id in (",
					"<foreach collection='sysRoleDeptEntity' item='item' index='index' separator=',' >",
						"#{item.deptId}",
					"</foreach>",
					")",
				"</if>",
#end
			"</where>",
			"</script>"
    })
	List<${className}Entity> selectEntityListAll(${className}Entity ${classname}Entity);

	@Insert({
			"insert into ${tableName}",
				"(",
#foreach($column in $columns)
					"`$column.columnName`#if($velocityCount != $columns.size()), #end",
#end
				")",
			"values",
				"(",
#foreach($column in $columns)
#if ($column.attrType=="Date"||$column.attrType=="Timestamp")
					"#{$column.attrname,jdbcType=TIMESTAMP}#if($velocityCount != $columns.size()), #end",
#else
#if ($column.attrname=="versionOptimizedLock")
					"1#if($velocityCount != $columns.size()), #end",
#else
					"#{$column.attrname,jdbcType=$column.dataType}#if($velocityCount != $columns.size()), #end",
#end
#end
#end
				")"
    })
   #if($pk.extra == 'auto_increment') @Options(useGeneratedKeys=true,keyProperty="$pk.attrname")#end
    int insertEntity(${className}Entity ${classname}Entity);
	
	@Insert({
			"<script>",
			"insert into ${tableName}",
				"(",
#foreach($column in $columns)
				"`$column.columnName`#if($velocityCount != $columns.size()), #end",
#end
				")",
			"values",
			"<foreach collection ='list' item='obj' separator =','>",
				"(",
#foreach($column in $columns)
#if ($column.attrname=="versionOptimizedLock")
					"1#if($velocityCount != $columns.size()), #end",
#else
					"#{obj.$column.attrname,jdbcType=$column.dataType}#if($velocityCount != $columns.size()), #end",
#end
#end
				")",
			"</foreach >",
			"</script>",
    })
   #if($pk.extra == 'auto_increment') @Options(useGeneratedKeys=true,keyProperty="$pk.attrname")#end
    int batchInsertEntity(@Param("list")List<${className}Entity> ${classname}Entitys);
	
	@Update({
			"<script>",
			"update ${tableName}",
				"<set>",
#foreach($column in $columns)
#if($column.columnName != $pk.columnName && $column.columnName != "version_optimized_lock")
						"`$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()), #end",
#end
#if($column.columnName == "version_optimized_lock")
						"`version_optimized_lock` = version_optimized_lock+1#if($velocityCount != $columns.size()), #end",
#end
#end
				"</set>",
				"where ${pk.columnName} = #{entity.${pk.attrname}} and version_optimized_lock=#{entity.versionOptimizedLock}",
			"</script>"
	})
	int updateEntity(@Param("entity")${className}Entity ${classname}Entity);

	@Update({
			"<script>",
			"<foreach collection ='list' item='obj' separator =';'>",
				"update ${tableName}",
					"<set>",
#foreach($column in $columns)
#if($column.columnName != $pk.columnName && $column.columnName != "version_optimized_lock")
						"`$column.columnName` = #{obj.$column.attrname}#if($velocityCount != $columns.size()), #end",
#end
#if($column.columnName == "version_optimized_lock")
						"`version_optimized_lock` = version_optimized_lock+1#if($velocityCount != $columns.size()), #end",
#end
#end
					"</set>",
					"where ${pk.columnName} = #{obj.${pk.attrname}} and version_optimized_lock=#{obj.versionOptimizedLock}",
			"</foreach >",
			"</script>"
	})
	int batchUpdateEntity(@Param("list")List<${className}Entity> ${classname}Entitys);
	
	@Delete({
			"<script>",
				"delete from ${tableName}",
				"<where>",
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
#if ($column.attrType=="String")
				"<if test='entity.$column.attrname != null  and entity.$column.attrname  != \"\" '> and `$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#else
				"<if test='entity.$column.attrname != null  '> and `$column.columnName` = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
#end
#end
				"</where>",
				"and ${pk.columnName} = #{entity.${pk.attrname}}",
			"</script>"
	})
	int deleteEntity(@Param("entity")${className}Entity ${classname}Entity);
	
	@Delete({
		"<script>",
		"delete from ${tableName} ",
		"where ${pk.columnName} in",
		"<foreach collection ='list' item='obj' open='(' separator=',' close=')'>",
			" #{obj.${pk.attrname}}",
		"</foreach >",
		"</script>"
	})
	int batchDeleteEntity(@Param("list")List<${className}Entity> ${classname}Entitys);
#end
}
