package ${package}.modules.${module}.dao;

import ${package}.modules.${module}.entity.${className}Entity;
import org.apache.ibatis.annotations.Delete;
import org.apache.ibatis.annotations.Mapper;
import org.apache.ibatis.annotations.Insert;
import org.apache.ibatis.annotations.Select;
import org.apache.ibatis.annotations.Update;
import org.apache.ibatis.annotations.Param;
import java.util.List;

#set($t="String")	
#foreach ($column in $columns)
#if ($column.columnKey=="PRI")
#set($t=$column.attrType)
#end
#if ($column.columnKey==$column.columnName)
#set($t=$column.attrType)
#end
#end
/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
@Mapper
public interface ${className}Dao {
#if($isSql)
		
	@Select({
			"<script>",
			"SELECT * FROM ",  
			"(  ",
			"SELECT A.* ", 
			"FROM (",
			"select",
			        "ROWNUM RN, ",
#foreach($column in $columns)
					"$column.columnName#if($velocityCount != $columns.size()), #end",
#end
			"from",
				"(${tableName}) F",
			"<where>",
#foreach($column in $columns)
				"<if test='entity.$column.attrname != null AND entity.$column.attrname != \"\" '>AND $column.columnName = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
			"</where>",
			") A ",
			"WHERE <![CDATA[ ROWNUM < #{endRow}  ]]>",
			") B",
			"WHERE <![CDATA[ RN > #{startRow} ]]>",
			"</script>"
    })
	List<${className}Entity> selectEntityListForPage(@Param("entity")${className}Entity ${classname}Entity,@Param("startRow")Long startRow,@Param("endRow")Long endRow);
	
	@Select({
			"<script>",
			"select",
			        "count(1) ",
			"from",
				"(${tableName}) F",
			"<where>",
#foreach($column in $columns)
				"<if test='entity.$column.attrname != null AND entity.$column.attrname != \"\" '>AND $column.columnName = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
			"</where>",
			"</script>"
    })
	Long selectEntityListForPageCount(@Param("entity")${className}Entity ${classname}Entity);
#else

	@Select({
			"<script>",
			"SELECT * FROM ",  
			"(  ",
			"SELECT A.* ", 
			"FROM (",
			"select",
			        "ROWNUM RN, ",
#foreach($column in $columns)
					"$column.columnName#if($velocityCount != $columns.size()), #end",
#end
			"from",
				"(${tableName}) F",
			"<where>",
#foreach($column in $columns)
				"<if test='entity.$column.attrname != null AND entity.$column.attrname != \"\" '>AND $column.columnName = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
			"</where>",
			") A ",
			"WHERE <![CDATA[ ROWNUM < #{endRow}  ]]>",
			") B",
			"WHERE <![CDATA[ RN > #{startRow} ]]>",
			"</script>"
    })
	List<${className}Entity> selectEntityListForPage(@Param("entity")${className}Entity ${classname}Entity,@Param("startRow")Long startRow,@Param("endRow")Long endRow);
	
	@Select({
			"<script>",
			"select",
			        "count(1) ",
			"from",
				"(${tableName}) F",
			"<where>",
#foreach($column in $columns)
				"<if test='entity.$column.attrname != null AND entity.$column.attrname != \"\" '>AND $column.columnName = #{entity.$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
			"</where>",
			"</script>"
    })
	Long selectEntityListForPageCount(@Param("entity")${className}Entity ${classname}Entity);
	
	@Select({
			"<script>",
			"select",
#foreach($column in $columns)
					"$column.columnName#if($velocityCount != $columns.size()), #end",
#end
			"from",
				"${tableName}",
			"<where>",
#foreach($column in $columns)
				"<if test='$column.attrname != null AND $column.attrname != \"\" '>AND $column.columnName = #{$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
			"</where>",
			"</script>"
    })
	List<${className}Entity> selectEntityListAll(${className}Entity ${classname}Entity);

	@Select({
			"<script>",
			"select",
					"SEQ_${tableName}.nextval",
			"from",
				"dual",
			"</script>"
    })
	Long selectSequenceId();

	@Insert({
			"insert into ${tableName}",
				"(",
#foreach($column in $columns)
					"$column.columnName#if($velocityCount != $columns.size()), #end",
#end
				")",
			"values",
				"(",
#foreach($column in $columns)
					"#{$column.attrname,jdbcType=$column.dataType}#if($velocityCount != $columns.size()), #end",
#end
				")"
    })
	int insertEntity(${className}Entity ${classname}Entity);
	
	@Insert({
			"<script>",
			"insert into ${tableName}",
				"(",
#foreach($column in $columns)
				"$column.columnName#if($velocityCount != $columns.size()), #end",
#end
				")",
			"values",
			"<foreach collection ='list' item='obj' separator =','>",
				"(",
#foreach($column in $columns)
					"#{obj.$column.attrname,jdbcType=$column.dataType}#if($velocityCount != $columns.size()), #end",
#end
				")",
			"</foreach >",
			"</script>",
    })
	int batchInsertEntity(@Param("list")List<${className}Entity> ${classname}Entitys);
	
	@Update({
			"<script>",
			"update ${tableName}",
				"<set>",
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
					"<if test='entity.$column.attrname != null'>$column.columnName = #{entity.$column.attrname}#if($velocityCount != $columns.size()), #end</if>",
#end
#end
				"</set>",
				"where ${pk.columnName} = #{entity.${pk.attrname}}",
			"</script>"
	})
	int updateEntity(@Param("entity")${className}Entity ${classname}Entity);

	@Update({
			"<script>",
			"<foreach collection ='list' item='obj' separator =';'>",
				"update ${tableName}",
					"<set>",
#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
						"<if test='list.$column.attrname != null'>$column.columnName = #{obj.$column.attrname}#if($velocityCount != $columns.size()), #end</if>",
#end
#end
					"</set>",
					"where ${pk.columnName} = #{entity.${pk.attrname}}",
			"</foreach >",
			"</script>"
	})
	int batchUpdateEntity(@Param("list")List<${className}Entity> ${classname}Entitys);
	
	@Delete({
			"<script>",
				"delete from ${tableName}",
				"<where>",
#foreach($column in $columns)
					"<if test='entity.$column.attrname != null'>$column.columnName = #{$column.attrname}#if($velocityCount != $columns.size()) #end</if>",
#end
				"</where>",
			"</script>"
	})
	int deleteEntity(@Param("entity")${className}Entity ${classname}Entity);
	
	@Delete({
		"<script>",
		"<foreach collection ='list' item='obj' separator =';'>",
			"delete from ${tableName}",
			"<where>",
#foreach($column in $columns)
				"<if test='obj.$column.attrname != null'>$column.columnName = #{obj.$column.attrname}#if($velocityCount != $columns.size())#end</if>",
#end
			"</where>",
		"</foreach >",
		"</script>"
	})
	int batchDeleteEntity(@Param("list")List<${className}Entity> ${classname}Entitys);
#end
}
