package ${package}.modules.${module}.entity;
import ${package}.modules.sys.entity.SysRoleDeptEntity;


import java.io.Serializable;
import java.math.BigDecimal;
import java.sql.Timestamp;
import java.util.List;

/**
 * ${comments}
 * 
 * @author ${author}
 * @email ${email}
 * @date ${datetime}
 */
public class ${className}Entity implements Serializable {
	private static final long serialVersionUID = 1L;
	
#foreach ($column in $columns)
	//$column.comments
	private $column.attrType $column.attrname;
#end

#if ($role)
	//  数据权限
	private List<SysRoleDeptEntity> sysRoleDeptEntity;
#end	
	//当需要根据时间范围查询时使用,不适用时请删除
	private Timestamp startTime;
	
	//当需要根据时间范围查询时使用,不适用时请删除
	private Timestamp endTime;
	
	/**
	 * 设置：开始时间
	 */
	public void setStartTime(Timestamp startTime) {
		this.startTime = startTime;
	}
	
	/**
	 * 获取：开始时间
	 */
	public Timestamp getStartTime() {
		return startTime;
	}
	
	/**
	 * 设置：结束时间
	 */
	public void setEndTime(Timestamp endTime) {
		this.endTime = endTime;
	}
	
	/**
	 * 获取：结束时间
	 */
	public Timestamp getEndTime() {
		return endTime;
	}

#foreach ($column in $columns)
	/**
	 * 设置：${column.comments}
	 */
	public void set${column.attrName}($column.attrType $column.attrname) {
		this.$column.attrname = $column.attrname;
	}
	/**
	 * 获取：${column.comments}
	 */
	public $column.attrType get${column.attrName}() {
		return $column.attrname;
	}
#end
	@Override
	public String toString(){
		StringBuilder builder = new StringBuilder();
		builder.append("${package}.entity.${className}Entity [")
#foreach ($column in $columns)
#if($velocityCount==0)
		.append("$column.attrname=").append($column.attrname)
#else
		.append(",${column.attrname}=").append($column.attrname)
#end 
#end
		.append(",startTime=").append(startTime)
		.append(",endTime=").append(endTime)
		.append("]");
		return builder.toString();
	}
	
	public static enum ${className}Enum{
#foreach($column in $columns)
#if (!$velocityHasNext)
		${column.columnName}("${column.attrname}","${column.comments}");
#else
		${column.columnName}("${column.attrname}","${column.comments}"),
#end
#end
		private String fieldName;
		private String remark;
		${className}Enum(String fieldName,String remark){
			this.fieldName = fieldName;
			this.remark = remark;
		}
		
		public String get(){
			return this.fieldName;
		}
		
		public String getRemark(){
			return this.remark;
		}
	}
#if ($role)	
	public List<SysRoleDeptEntity> getSysRoleDeptEntity() {
		return sysRoleDeptEntity;
	}

	public void setSysRoleDeptEntity(List<SysRoleDeptEntity> sysRoleDeptEntity) {
		this.sysRoleDeptEntity = sysRoleDeptEntity;
	}
#end
}
