<!DOCTYPE html>
<html>
	<head>
		<title>${comments}</title>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/font-awesome.min.css">
		<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
		<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
		<link rel="stylesheet" href="../../css/main.css">
		<link rel="stylesheet" href="../../plugins/layui-v2.4.5/layui/css/layui.css" media="all">
		<style type="text/css">
			.layui-table-view {
				margin-top: 0;
			}
		</style>
		<link rel="stylesheet" href="../../css/bootstrap.min.css">
		<link rel="stylesheet" href="../../css/font-awesome.min.css">
		<link rel="stylesheet" href="../../plugins/jqgrid/ui.jqgrid-bootstrap.css">
		<link rel="stylesheet" href="../../plugins/ztree/css/metroStyle/metroStyle.css">
		<link rel="stylesheet" href="../../css/main.css">
	</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="margin-bottom: 10px">
			<div class="layui-inline">
				<input type="text" name="keyWords" id="keyWords" autocomplete="off" placeholder="请输入关键字" class="layui-input" style="height:32px;" v-model="q.roleName" @keyup.enter="query">
			</div>
			<a v-if="hasPermission('${shrio}:save${className}List')" class="layui-btn layui-btn-sm" @click="add"><i class="layui-icon layui-icon-add-1"></i>&nbsp;新增</a>
			<a v-if="hasPermission('${shrio}:edit${className}')" class="layui-btn layui-btn-sm" @click="update"><i class="layui-icon layui-icon-edit"></i>&nbsp;修改</a>
			<a v-if="hasPermission('${shrio}:delete${className}')" class="layui-btn layui-btn-sm" @click="del"><i class="layui-icon layui-icon-delete"></i>&nbsp;删除</a>
			<a v-if="hasPermission('${shrio}:query${className}')" class="layui-btn layui-btn-sm" @click="query"><i class="layui-icon layui-icon-search"></i>&nbsp;查询</a>
		</div>
		<table id="layuiTable" lay-filter="test"></table>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
    	<div style="background: #F2F2F2; padding: 15px;">
			<div class="layui-card">
				<div class="layui-card-header">{{title}}</div>
					<div class="layui-card-body">
						<form class="layui-form" action="">
		#foreach($column in $columns)
#if($column.columnName != $pk.columnName)
			<div class="layui-form-item">
				<label class="layui-form-label">${column.comments}</label>
					<div class="layui-input-block">
						<input type="text" name="${column.attrname}" placeholder="请输入${column.attrname}" autocomplete="off" class="layui-input"
							v-model="${classname}.${column.attrname}">
					</div>
			</div>
#else
			<div class="layui-form-item">
				<label class="layui-form-label">${column.comments}</label>
					<div class="layui-input-block">
						<input type="text" name="${column.attrname}" placeholder="请输入${column.attrname}" autocomplete="off" class="layui-input"
							v-model="${classname}.${column.attrname}">
					</div>
			</div>
#end
		#end
			<div class="form-group">
				<div class="col-sm-2 control-label"></div> 
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
			<div class="layui-form-item">
				<div class="layui-input-block">
					<button type="button" class="layui-btn" @click="saveOrUpdate">确定</button>
					<button type="button" class="layui-btn layui-btn-primary" @click="reload">返回</button>
				</div>
			</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="../../libs/jquery.min.js"></script>
<script src="../../plugins/layer/layer.js"></script>
<script src="../../libs/bootstrap.min.js"></script>
<script src="../../libs/vue.min.js"></script>
<script src="../../plugins/jqgrid/grid.locale-cn.js"></script>
<script src="../../plugins/jqgrid/jquery.jqGrid.min.js"></script>
<script src="../../plugins/ztree/jquery.ztree.all.min.js"></script>
<script src="../../js/common.js"></script>
<script src="../../js/modules/${url}/${className}.js"></script>
</body>
</html>