package ${packageName}.config;

import java.util.ArrayList;
import java.util.List;

import javax.sql.DataSource;

import org.springframework.beans.factory.annotation.Value;
import org.springframework.boot.web.servlet.ServletRegistrationBean;
import org.springframework.context.annotation.Bean;
import org.springframework.context.annotation.Primary;
import org.springframework.core.annotation.Order;
import org.springframework.stereotype.Service;

import com.alibaba.druid.filter.Filter;
import com.alibaba.druid.filter.stat.StatFilter;
import com.alibaba.druid.pool.DruidDataSource;
import com.alibaba.druid.support.http.StatViewServlet;
import com.alibaba.druid.wall.WallConfig;
import com.alibaba.druid.wall.WallFilter;

/**
 * Druid配置
 *
 * @author wanghonghui
 * @email 448697783@qq.com
 * @date 2017-04-21 0:00
 */
@Service
@Order(Integer.MAX_VALUE)
public class MasterDruidConfig {
#set  ($value=":#{null}")
#set  ($a="$")

    @Value("${a}{spring.master.datasource.url${value}}")
    private String dbUrl;
    @Value("${a}{spring.master.datasource.username${value}}")
    private String username;
    @Value("${a}{spring.master.datasource.password${value}}")
    private String password;
    @Value("${a}{spring.master.datasource.driverClassName${value}}")
    private String driverClassName;
    @Value("${a}{spring.master.datasource.initialSize${value}}")
    private Integer initialSize;
    @Value("${a}{spring.master.datasource.minIdle${value}}")
    private Integer minIdle;
    @Value("${a}{spring.master.datasource.maxActive${value}}")
    private Integer maxActive;
    @Value("${a}{spring.master.datasource.maxWait${value}}")
    private Integer maxWait;
    @Value("${a}{spring.master.datasource.timeBetweenEvictionRunsMillis${value}}")
    private Integer timeBetweenEvictionRunsMillis;
    @Value("${a}{spring.master.datasource.minEvictableIdleTimeMillis${value}}")
    private Integer minEvictableIdleTimeMillis;
    @Value("${a}{spring.master.datasource.validationQuery${value}}")
    private String validationQuery;
    @Value("${a}{spring.master.datasource.testWhileIdle${value}}")
    private Boolean testWhileIdle;
    @Value("${a}{spring.master.datasource.testOnBorrow${value}}")
    private Boolean testOnBorrow;
    @Value("${a}{spring.master.datasource.testOnReturn${value}}")
    private Boolean testOnReturn;
    @Value("${a}{spring.master.datasource.poolPreparedStatements${value}}")
    private Boolean poolPreparedStatements;
    @Value("${a}{spring.master.datasource.maxPoolPreparedStatementPerConnectionSize${value}}")
    private Integer maxPoolPreparedStatementPerConnectionSize;
    @Value("${a}{spring.master.datasource.filters${value}}")
    private String filters;
    @Value("{spring.master.datasource.connectionProperties${value}}")
    private String connectionProperties;
    
    @Bean(name="masterBean")
    @Primary
    public DataSource dataSource(){
        DruidDataSource datasource = new DruidDataSource();

        datasource.setUrl(this.dbUrl);
        datasource.setUsername(username);
        datasource.setPassword(password);
        datasource.setDriverClassName(driverClassName);
        //configuration
        if(initialSize != null) {
            datasource.setInitialSize(initialSize);
        }
        if(minIdle != null) {
            datasource.setMinIdle(minIdle);
        }
        if(maxActive != null) {
            datasource.setMaxActive(maxActive);
        }
        if(maxWait != null) {
            datasource.setMaxWait(maxWait);
        }
        if(timeBetweenEvictionRunsMillis != null) {
            datasource.setTimeBetweenEvictionRunsMillis(timeBetweenEvictionRunsMillis);
        }
        if(minEvictableIdleTimeMillis != null) {
            datasource.setMinEvictableIdleTimeMillis(minEvictableIdleTimeMillis);
        }
        if(validationQuery!=null) {
            datasource.setValidationQuery(validationQuery);
        }
        if(testWhileIdle != null) {
            datasource.setTestWhileIdle(testWhileIdle);
        }
        if(testOnBorrow != null) {
            datasource.setTestOnBorrow(testOnBorrow);
        }
        if(testOnReturn != null) {
            datasource.setTestOnReturn(testOnReturn);
        }
        if(poolPreparedStatements != null) {
            datasource.setPoolPreparedStatements(poolPreparedStatements);
        }
        if(maxPoolPreparedStatementPerConnectionSize != null) {
            datasource.setMaxPoolPreparedStatementPerConnectionSize(maxPoolPreparedStatementPerConnectionSize);
        }

        if(connectionProperties != null) {
            datasource.setConnectionProperties(connectionProperties);
        }

        List<Filter> filters = new ArrayList<>();
        filters.add(statFilter());
        filters.add(wallFilter());
        datasource.setProxyFilters(filters);

        return datasource;
    }

    @Bean
    public ServletRegistrationBean druidServlet() {
        ServletRegistrationBean servletRegistrationBean = new ServletRegistrationBean();
        servletRegistrationBean.setServlet(new StatViewServlet());
        servletRegistrationBean.addUrlMappings("/druid/*");
        return servletRegistrationBean;
    }

    @Bean
    public StatFilter statFilter(){
        StatFilter statFilter = new StatFilter();
        statFilter.setLogSlowSql(true);
        statFilter.setMergeSql(true);
        statFilter.setSlowSqlMillis(1000);

        return statFilter;
    }

    @Bean
    public WallFilter wallFilter(){
        WallFilter wallFilter = new WallFilter();

        //允许执行多条SQL
        WallConfig config = new WallConfig();
        config.setMultiStatementAllow(true);
        wallFilter.setConfig(config);

        return wallFilter;
    }

}

